body{
	background: url('./images/bg.jpg');
}

.row h1{
	text-align: center;
	color: #fff;
	margin-top: 5%;
	font-weight: 900;
	font-family: "Cinzel Decorative";
	background-color: #9C0A5A;
	width: 85%;
	margin-left: 8%;
}

.btn{
	background-color: #9C0A5A;
	color: #fff;
	float: right;
}

.btn:hover{
	color:  #fff;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 8vw;
  text-align: center;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

.bottom {
	background-color: white;
	width: 300vw;
}

#steps { 
	margin: 80px 0 0 0;
}
.prev {
	float:left;
}
.next, .submit {
	float:right;
}
.error { 
	color: red;
}
#progress { 
	position: relative; 
	height: 15px; 
	background-color: #eee; 
	margin-bottom: 20px; 
    border-radius: 20px;
}
#progress-complete { 
	border: 0; 
	position: absolute; 
	height: 15px; 
	min-width: 10px; 
	background-color: #9C0A5A; 
	transition: width .5s ease-in-out;
    border-radius: 20px;
}
