body{
	background: url('./images/bg.jpg');
}

.container{
	margin-top: 2%; 
}

.row h1{
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-family: "Cinzel Decorative";
	width: 80%;
	padding: 15px;
	margin-left: 10%;
}

.row p{
	padding-left: 5%;
	color: #fff;
}

.head{
	font-size: 20px;
	font-family: "Cinzel Decorative";
	font-weight: 900;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 8vw;
  text-align: center;
  float: left;
  margin-right: 5px;
  margin-top: 5px; 
}