body{
	background: url('./images/bg.jpg');
}
.row h1{
	text-align: center;
	color: #fff;
	margin-top: 5%;
	font-weight: 900;
	font-family: "Cinzel Decorative";
	background-color: #9C0A5A;
	width: 80%;
	padding: 15px;
	margin-left: 10%;
}
.btn{
	background-color: #9C0A5A;
	color: #fff;
	float: right;
}

.btn:hover{
	color:  #fff;
}

.jumbotron {
	color: #fff;
	background-color: transparent;
}

.back {
	background: url('./images/gg.jpg');
	background-repeat: no-repeat;
	font-size: 20px;
}

.jumbotron h4{
	font-weight: 900;
	font-family: "Cinzel Decorative";
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 8vw;
  text-align: center;
  float: left;
  margin-right: 5px;
  margin-top: 5px; 
}