body{
	background: url('./images/bg.jpg');
}

.row h1{
	text-align: center;
	color: #fff;
	margin-top: 3%;
	font-weight: 900;
	font-family: "Cinzel Decorative";
	background-color: #9C0A5A;
	width: 85%;
	margin-left: 8%;
}

.topcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 8vw;
  text-align: center;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

.fa{
	color: #9C0A5A;
}