body{
	background: url('./images/bg.jpg');
}

.container {
	
	height: 85vh;
	width: 80vw;
	margin-top: 55px;
}

.left {
	background: url('./images/left1.jpg');
	height: 85vh;
	background-repeat: no-repeat;
	background-size: 120% 100%;
}

.right {
	background: #000000;
	height: 85vh;

}